.benefits {
  padding: 120px 0;
  padding-left: 380px;

  @include mobile() {
    padding: 60px 10px;
  }
}

.benefits__grid {
  display: flex;
  gap: 40px;
  padding-top: 60px;

  @include mobile() {
    display: grid;
    gap: 30px;

    padding-top: 40px;

    text-align: center;
    justify-content: center;
  }
}
