.trainer {
  padding: 120px 0 120px 380px;

  @include mobile() {
    padding: 60px 0 0 0;
  }
}

.trainer__title {
  margin-bottom: 60px;

  font-family: Jost;
  font-size: 50px;
  font-weight: 600;

  @include mobile() {
    font-family: Jost;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.4;
    text-align: center;

    width: 300px;

    padding-left: 10px;
    margin-bottom: 40px;
  }
}
